<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Chao mừng bạn đã đến vói trang chử</h1>
    <p>Họ tên: <%= hoTen %> - Tuổi: <%= tuoi %>
    </p>
    <% if (tuoi <=25) { %>
        <p>Chào thanh niên</p>
        <% } else { %>
            <p>Chào trung niên</p>
            <% } %>
                <%- include('../partials') %>
</body>

</html>