<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<%- include('partials/lib') %>
<title>Title</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <h1>Đây là trang chủ</h1>
        <a href="/users">Quay trở về danh sách tài khoản</a>
    </div>
</body>
</html>